/* Extra Large */
@media only screen and (max-width: 1200px) {
	/* wrapper */
	.d-xl-wrapper {
	  width: 100%;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}
	
	/* container */
	.d-xl-container {
	  margin: 0px auto;
	  height: 100%;
	}
	
	@media only screen and (min-width: 0px) {
	  .d-xl-container { width: 95%; }
	}
	@media only screen and (min-width: 480px) {
	  .d-xl-container { width: 85%; }
	}
	@media only screen and (min-width: 768px) {
	  .d-xl-container { width: 75%; }
	}
	@media only screen and (min-width: 1024px) {
	  .d-xl-container { width: 70%; }
	}
	@media only screen and (min-width: 1200px) {
	  .d-xl-container { max-width: 1200px; }
	}
	
	/* flex */
	.d-xl-flex { display: flex; }
	
	.d-xl-fd-r { flex-direction: row; }
	.d-xl-fd-c { flex-direction: column; }
	
	.d-xl-jc-s { justify-content: start; }
	.d-xl-jc-e { justify-content: flex-end; }
	.d-xl-jc-c { justify-content: center; }
	
	.d-xl-jc-sb { justify-content: space-between; }
	.d-xl-jc-sa { justify-content: space-around; }
	.d-xl-jc-se { justify-content: space-evenly; }
	
	.d-xl-ai-fs { align-items: flex-start; }
	.d-xl-ai-fe { align-items: flex-end; }
	.d-xl-ai-c { align-items: center; }
	.d-xl-ai-st { align-items: stretch; }
	
	.d-xl-as-fs { align-self: flex-start; }
	.d-xl-as-fe { align-self: flex-end; }
	.d-xl-as-c { align-self: center; }
	.d-xl-as-st { align-self: stretch; }
	
	/* box */
	.d-xl-box { position: relative; }
	
	.d-xl-to-tl {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	}
	.d-xl-to-tr {
	  position: absolute;
	  top: 0px;
	  right: 0px;
	}
	.d-xl-to-tc {
	  position: absolute;
	  top: 0px;
	  left: 50%;
	  transform: translate(-50%, 0px);
	}
	.d-xl-to-bl {
	  position: absolute;
	  bottom: 0px;
	  left: 0px;
	}
	.d-xl-to-br {
	  position: absolute;
	  bottom: 0px;
	  right: 0px;
	}
	.d-xl-to-bc {
	  position: absolute;
	  bottom: 0px;
	  left: 50%;
	  transform: translate(-50%, 0px);
	}
	.d-xl-to-lc {
	  position: absolute;
	  top: 50%;
	  left: 0px;
	  transform: translate(0px, -50%);
	}
	.d-xl-to-rc {
	  position: absolute;
	  top: 50%;
	  right: 0px;
	  transform: translate(0px, -50%);
	}
	.d-xl-to-c {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	
	/* grid */
	.d-xl-grid { display: grid; }
	
	.d-xl-gtc-1 { grid-template-columns: auto; }
	.d-xl-gtc-2 { grid-template-columns: auto auto; }
	.d-xl-gtc-3 { grid-template-columns: auto auto auto; }
	.d-xl-gtc-4 { grid-template-columns: auto auto auto auto; }
	.d-xl-gtc-5 { grid-template-columns: auto auto auto auto auto; }
	.d-xl-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
	.d-xl-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
	.d-xl-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
	.d-xl-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
	.d-xl-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
	.d-xl-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
	.d-xl-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }
	
	.d-xl-gtr-1 { grid-template-rows: auto; }
	.d-xl-gtr-2 { grid-template-rows: auto auto; }
	.d-xl-gtr-3 { grid-template-rows: auto auto auto; }
	.d-xl-gtr-4 { grid-template-rows: auto auto auto auto; }
	.d-xl-gtr-5 { grid-template-rows: auto auto auto auto auto; }
	.d-xl-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
	.d-xl-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
	.d-xl-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
	.d-xl-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
	.d-xl-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
	.d-xl-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
	.d-xl-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }
	
	.d-xl-gcs-a { grid-column-start: auto; }
	.d-xl-gcs-1 { grid-column-start: 1; }
	.d-xl-gcs-2 { grid-column-start: 2; }
	.d-xl-gcs-3 { grid-column-start: 3; }
	.d-xl-gcs-4 { grid-column-start: 4; }
	.d-xl-gcs-5 { grid-column-start: 5; }
	.d-xl-gcs-6 { grid-column-start: 6; }
	.d-xl-gcs-7 { grid-column-start: 7; }
	.d-xl-gcs-8 { grid-column-start: 8; }
	.d-xl-gcs-9 { grid-column-start: 9; }
	.d-xl-gcs-10 { grid-column-start: 10; }
	.d-xl-gcs-11 { grid-column-start: 11; }
	.d-xl-gcs-12 { grid-column-start: 12; }
	
	.d-xl-gce-a { grid-column-end: auto; }
	.d-xl-gce-1 { grid-column-end: 1; }
	.d-xl-gce-2 { grid-column-end: 2; }
	.d-xl-gce-3 { grid-column-end: 3; }
	.d-xl-gce-4 { grid-column-end: 4; }
	.d-xl-gce-5 { grid-column-end: 5; }
	.d-xl-gce-6 { grid-column-end: 6; }
	.d-xl-gce-7 { grid-column-end: 7; }
	.d-xl-gce-8 { grid-column-end: 8; }
	.d-xl-gce-9 { grid-column-end: 9; }
	.d-xl-gce-10 { grid-column-end: 10; }
	.d-xl-gce-11 { grid-column-end: 11; }
	.d-xl-gce-12 { grid-column-end: 12; }
	
	.d-xl-gces-a { grid-column-end: span auto; }
	.d-xl-gces-1 { grid-column-end: span 1; }
	.d-xl-gces-2 { grid-column-end: span 2; }
	.d-xl-gces-3 { grid-column-end: span 3; }
	.d-xl-gces-4 { grid-column-end: span 4; }
	.d-xl-gces-5 { grid-column-end: span 5; }
	.d-xl-gces-6 { grid-column-end: span 6; }
	.d-xl-gces-7 { grid-column-end: span 7; }
	.d-xl-gces-8 { grid-column-end: span 8; }
	.d-xl-gces-9 { grid-column-end: span 9; }
	.d-xl-gces-10 { grid-column-end: span 10; }
	.d-xl-gces-11 { grid-column-end: span 11; }
	.d-xl-gces-12 { grid-column-end: span 12; }
	
	.d-xl-grs-a { grid-row-start: auto; }
	.d-xl-grs-1 { grid-row-start: 1; }
	.d-xl-grs-2 { grid-row-start: 2; }
	.d-xl-grs-3 { grid-row-start: 3; }
	.d-xl-grs-4 { grid-row-start: 4; }
	.d-xl-grs-5 { grid-row-start: 5; }
	.d-xl-grs-6 { grid-row-start: 6; }
	.d-xl-grs-7 { grid-row-start: 7; }
	.d-xl-grs-8 { grid-row-start: 8; }
	.d-xl-grs-9 { grid-row-start: 9; }
	.d-xl-grs-10 { grid-row-start: 10; }
	.d-xl-grs-11 { grid-row-start: 11; }
	.d-xl-grs-12 { grid-row-start: 12; }
	
	.d-xl-gre-a { grid-row-end: auto; }
	.d-xl-gre-1 { grid-row-end: 1; }
	.d-xl-gre-2 { grid-row-end: 2; }
	.d-xl-gre-3 { grid-row-end: 3; }
	.d-xl-gre-4 { grid-row-end: 4; }
	.d-xl-gre-5 { grid-row-end: 5; }
	.d-xl-gre-6 { grid-row-end: 6; }
	.d-xl-gre-7 { grid-row-end: 7; }
	.d-xl-gre-8 { grid-row-end: 8; }
	.d-xl-gre-9 { grid-row-end: 9; }
	.d-xl-gre-10 { grid-row-end: 10; }
	.d-xl-gre-11 { grid-row-end: 11; }
	.d-xl-gre-12 { grid-row-end: 12; }
	
	.d-xl-gres-a { grid-row-end: span auto; }
	.d-xl-gres-1 { grid-row-end: span 1; }
	.d-xl-gres-2 { grid-row-end: span 2; }
	.d-xl-gres-3 { grid-row-end: span 3; }
	.d-xl-gres-4 { grid-row-end: span 4; }
	.d-xl-gres-5 { grid-row-end: span 5; }
	.d-xl-gres-6 { grid-row-end: span 6; }
	.d-xl-gres-7 { grid-row-end: span 7; }
	.d-xl-gres-8 { grid-row-end: span 8; }
	.d-xl-gres-9 { grid-row-end: span 9; }
	.d-xl-gres-10 { grid-row-end: span 10; }
	.d-xl-gres-11 { grid-row-end: span 11; }
	.d-xl-gres-12 { grid-row-end: span 12; }
}
