/* width */
.wp-0 { width: 0%; }
.wp-1 { width: 8.3333%; }
.wp-2 { width: 16.6666%; }
.wp-3 { width: 25%; }
.wp-4 { width: 33.3333%; }
.wp-5 { width: 41.6666%; }
.wp-6 { width: 50%; }
.wp-7 { width: 58.3333%; }
.wp-8 { width: 66.6666%; }
.wp-9 { width: 75%; }
.wp-10 { width: 83.3333%; }
.wp-11 { width: 91.6666%; }
.wp-12 { width: 100%; }

/* height */
.hp-0 { height: 0%; }
.hp-1 { height: 8.3333%; }
.hp-2 { height: 16.6666%; }
.hp-3 { height: 25%; }
.hp-4 { height: 33.3333%; }
.hp-5 { height: 41.6666%; }
.hp-6 { height: 50%; }
.hp-7 { height: 58.3333%; }
.hp-8 { height: 66.6666%; }
.hp-9 { height: 75%; }
.hp-10 { height: 83.3333%; }
.hp-11 { height: 91.6666%; }
.hp-12 { height: 100%; }

/* size */
.sp-0 { width: 0%; height: 0%; }
.sp-1 { width: 8.3333%; height: 8.3333%; }
.sp-2 { width: 16.6666%; height: 16.6666%; }
.sp-3 { width: 25%; height: 25%; }
.sp-4 { width: 33.3333%; height: 33.3333%; }
.sp-5 { width: 41.6666%; height: 41.6666%; }
.sp-6 { width: 50%; height: 50%; }
.sp-7 { width: 58.3333%; height: 58.3333%; }
.sp-8 { width: 66.6666%; height: 66.6666%; }
.sp-9 { width: 75%; height: 75%; }
.sp-10 { width: 83.3333%; height: 83.3333%; }
.sp-11 { width: 91.6666%; height: 91.6666%; }
.sp-12 { width: 100%; height: 100%; }
