:root {
  /* default color */
  --d4: #404040;
  --d45: #454545;
  --d5: #505050;
  --b5: #b5b5b5;
  --ce: #cecece;
  --5f33: #5f5f5f33;
  --white-color: #fefefe;
  --black-color: #404040;

  /* color palets */
  /* for light theme */
  --primary-color: #0f73d6;
  --primary75-color: #0f72d6b4;
  --primary50-color: #0f72d676;
  --primary25-color: #0f72d63d;
  --primary5-color: #0f72d60c;
  --neutral-color: #5f5f5f;
  --success-color: #188d10;
  --warning-color: #fdaa07;
  --error-color: #f42828;

  /* for dark theme */
  --primary-dark-color: #87c3ff;
  --neutral-dark-color: #adadad;
  --success-dark-color: #63ee59;
  --warning-dark-color: #ffe944;
  --error-dark-color: #ffb3b3;

  /* element color */
  --border-color: var(--b5);
  --outline-color: var(--b5);
  --divider-color: rgba(109, 109, 109, 0.304);
  
  /* font family */
  --ff: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --ff-kh: "nokora", "hanuman", "content";

  /* body */
  --body-font-family: var(--ff);
  --body-text-color: var(--d4);

  /* button */
  --button-text-color: var(--d4);
  --button-background-color: #fbfbfb;
  --button-outline-color: var(--b5);
  --button-outline-focus-color: var(--primary-color);
  --button-box-shadow-color: #5f5f5f58;
  --button-box-shadow-active-color: #4e4e4e58;

  /* input text-area */
  --input-text-color: var(--d4);
  --input-caret-color: #777;
  --input-outline-color: rgba(168, 168, 168, 0.555);
  --input-outline-focus-color: var(--primary-color);
  --input-box-shadow-color: #6e6e6e58;
  --input-box-shadow-active-color: #4e4e4e58;

  /* dialog */
  --dialog-outline-color: var(--b5);
  --dialog-text-color: var(--d4);
  --dialog-background-color: white;
  --dialog-box-shadow-color: var(--5f33);
  --dialog-button-text-color: white;
  --dialog-button-background-color: transparent;
  --dialog-button-outline-color: var(--ce);

  /* menu */
  --menu-outline-color: var(--b5);
  --menu-text-color: var(--d4);
  --menu-background-color: white;
  --menu-box-shadow-color: var(--5f33);
  --menu-item-color: var(--d45);

  /* popup */
  --popup-outline-color: var(--b5);
  --popup-text-color: var(--d4);
  --popup-background-color: white;
  
  /* title */
  --title-outline-color: var(--b5);
  --title-text-color: var(--d4);
  --title-background-color: white;
  --title-box-shadow-color: var(--5f33);
  
  /* toast */
  --toast-outline-color: var(--b5);
  --toast-text-color: white;
  --toast-background-color: var(--success-color);
  --toast-box-shadow-color: var(--5f33);
  --toast-button-outline-color: transparent;
  --toast-button-outline-focus-color: var(--warning-color);
  --toast-button-box-shadow-color: transparent;
  --toast-button-box-shadow-active-color: #a2a2a258;

  /* dimen */
  /* general */
  --border-radius: 0px;
  
  /* dialog */
  --dialog-border-radius: 2px;
  --dialog-button-border-radius: 2px;
  
  /* toast */
  --toast-button-border-radius: 0px;
}
