.tstf-e {
    transition-timing-function: ease;
}
.tstf-ei {
    transition-timing-function: ease-in;
}
.tstf-eo {
    transition-timing-function: ease-out;
}
.tstf-eio {
    transition-timing-function: ease-in-out;
}
.tstf-l {
    transition-timing-function: linear;
}
.tstf-ss {
    transition-timing-function: step-start;
}
.tstf-se {
    transition-timing-function: step-end;
}
