/* default anim */
.anim {
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

/* anim name fade */
.an-fi { animation-name: fade-in; }
.an-fo { animation-name: fade-out; }

/* anim name rotate */
.an-rf { animation-name: rotate-forward; }
.an-rb { animation-name: rotate-backward; }

/* anim name slide */
.an-sft { animation-name: slide-from-top; }
.an-sfb { animation-name: slide-from-bottom; }
.an-sfl { animation-name: slide-from-left; }
.an-sfr { animation-name: slide-from-right; }
.an-stt { animation-name: slide-to-top; }
.an-stb { animation-name: slide-to-bottom; }
.an-stl { animation-name: slide-to-left; }
.an-str { animation-name: slide-to-right; }

/* anim name scale */
.an-scfb { animation-name: scale-from-bigger; }
.an-scfs { animation-name: scale-from-smaller; }
.an-sctb { animation-name: scale-to-bigger; }
.an-scts { animation-name: scale-to-smaller; }

/* anim name expand, collapse */
.an-ev { animation-name: expand-vertical; }
.an-eh { animation-name: expand-horizontal; }
.an-cv { animation-name: collapse-vertical; }
.an-ch { animation-name: collapse-horizontal; }

/* anim name light */
.an-ftb { animation-name: flash-to-bright; }
.an-ftd { animation-name: flash-to-dark; }
.an-ffb { animation-name: flash-from-bright; }
.an-ffd { animation-name: flash-from-dark; }

.adu-1000 { animation-duration: 1000ms; }

.atf-l { animation-timing-function: linear; }
.atf-e { animation-timing-function: ease; }
.atf-ei { animation-timing-function: ease-in; }
.atf-eo { animation-timing-function: ease-out; }
.atf-eio { animation-timing-function: ease-in-out; }

.aic-1 { animation-iteration-count: 1; }
.aic-if { animation-iteration-count: infinite; }

.adr-nm { animation-direction: normal; }
.adr-rv { animation-direction: reverse; }
.adr-alt { animation-direction: alternate; }
.adr-altr { animation-direction: alternate-reverse; }

.afm-b { animation-fill-mode: none; }
.afm-b { animation-fill-mode: both; }
.afm-bw { animation-fill-mode: backwards; }
.afm-fw { animation-fill-mode: forwards; }

/* fade */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* rotate */
@keyframes rotate-forward {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes rotate-backward {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

/* slide */
@keyframes slide-from-top {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}
@keyframes slide-from-bottom {
    0% { transform: translateY(100%); }
    100% { transform: translateY(0%); }
}
@keyframes slide-from-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
@keyframes slide-from-right {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
@keyframes slide-to-top {
    0% { transform: translateY(0%); }
    100% { transform: translateY(-100%); }
}
@keyframes slide-to-bottom {
    0% { transform: translateY(0%); }
    100% { transform: translateY(100%); }
}
@keyframes slide-to-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
@keyframes slide-to-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

/* scale */
@keyframes scale-from-bigger {
    0% { transform: scale(1.5, 1.5); }
    100% { transform: scale(1, 1); }
}
@keyframes scale-from-smaller {
    0% { transform: scale(0.5, 0.5); }
    100% { transform: scale(1, 1); }
}
@keyframes scale-to-bigger {
    0% { transform: scale(1, 1); }
    100% { transform: scale(1.5, 1.5); }
}
@keyframes scale-to-smaller {
    0% { transform: scale(1, 1); }
    100% { transform: scale(0.5, 0.5); }
}

/* expand, collapse */
@keyframes expand-vertical {
    0% { height: 0%; }
    100% { height: 100%; }
}
@keyframes expand-horizontal {
    0% { width: 0%; }
    100% { width: 100%; }
}
@keyframes collapse-vertical {
    0% { height: 100%; }
    100% { height: 0%; }
}
@keyframes collapse-horizontal {
    0% { width: 100%; }
    100% { width: 0%; }
}

/* flash */
@keyframes flash-to-bright {
    0% { filter: brightness(1); }
    100% { filter: brightness(1.2); }
}
@keyframes flash-to-dark {
    0% { filter: brightness(1); }
    100% { filter: brightness(0.8); }
}
@keyframes flash-from-bright {
    0% { filter: brightness(1.2); }
    100% { filter: brightness(1); }
}
@keyframes flash-from-dark {
    0% { filter: brightness(0.8); }
    100% { filter: brightness(1); }
}
