.dialog {
    outline: 1px solid var(--dialog-outline-color);
    padding: 10px 20px;
    border-radius: var(--dialog-border-radius);
    white-space: nowrap;
    color: var(--dialog-text-color);
    background-color: var(--dialog-background-color);
    box-shadow: 0px 0px 10px 5px var(--dialog-box-shadow-color);
    transition-duration: 200ms;
}

.menu {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    outline: 1px solid var(--menu-outline-color);
    border-radius: var(--border-radius);
    white-space: nowrap;
    color: var(--menu-text-color);
    background-color: var(--menu-background-color);
    transition-duration: 200ms;
}

.popup {
    outline: 1px solid var(--popup-outline-color);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    color: var(--popup-text-color);
    background-color: var(--popup-background-color);
    white-space: nowrap;
    transition-duration: 200ms;
}

.title {
    outline: 1px solid var(--title-outline-color);
    padding: 2.5px 5px;
    border-radius: var(--border-radius);
    pointer-events: none;
    white-space: nowrap;
    color: var(--title-text-color);
    background-color: var(--title-background-color);
    box-shadow: 0px 1px 5px 1px var(--title-box-shadow-color);
    transition-duration: 200ms;
}

.toast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid var(--toast-outline-color);
    padding: 8px 10px;
    border-radius: var(--border-radius);
    white-space: nowrap;
    color: var(--toast-text-color);
    background-color: var(--toast-background-color);
    box-shadow: 0px 1px 5px 1px var(--toast-box-shadow-color);
    transition-duration: 250ms;
}

.dialog,
.menu,
.popup,
.title,
.toast {
    visibility: hidden;
    position: fixed;
    z-index: 100;
    transition-property: transform, opacity;
    transition-timing-function: linear;
    transition-property: opacity, transform;
}

.dialog button {
    border-radius: var(--dialog-button-border-radius);
    background-color: var(--dialog-button-background-color);
    outline-color: var(--dialog-button-outline-color);
}

.toast > button {
    border-radius: var(--toast-button-border-radius);
    outline-color: var(--toast-button-outline-color);
    color: var(--toast-text-color);
    background-color: transparent;
    box-shadow: 0px 1px 2.5px 0px var(--toast-button-box-shadow-color);
}

.toast > button:not([disabled]):active {
    box-shadow: 0px 0px 2px 3px var(--toast-button-box-shadow-active-color);
}

.toast > button:not([disabled]):focus {
    outline: 2px solid var(--toast-button-outline-focus-color);
}

.menu > button:not([disabled]):not([no-close]) {
    width: 100%;
}

.menu > button:not([disabled]):not([no-close]):hover {
    outline: 2px solid var(--primary-color);
}
.menu[pos~="t"][pos~="ch"],
.menu[pos~="tb"][pos~="ch"] {
    box-shadow: 0px -5px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="t"][pos~="l"],
.menu[pos~="t"][pos~="lr"],
.menu[pos~="tb"][pos~="l"] .menu[pos~="tb"][pos~="lr"] {
    box-shadow: -5px -5px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="t"][pos~="r"],
.menu[pos~="t"][pos~="rl"],
.menu[pos~="tb"][pos~="r"] .menu[pos~="tb"][pos~="rl"] {
    box-shadow: 5px -5px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="b"][pos~="ch"],
.menu[pos~="bt"][pos~="ch"] {
    box-shadow: 0px 5px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="b"][pos~="l"],
.menu[pos~="b"][pos~="lr"],
.menu[pos~="bt"][pos~="l"] .menu[pos~="bt"][pos~="lr"] {
    box-shadow: -5px 5px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="b"][pos~="r"],
.menu[pos~="b"][pos~="rl"],
.menu[pos~="bt"][pos~="r"] .menu[pos~="bt"][pos~="rl"] {
    box-shadow: 5px 5px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="cv"][pos~="ch"] {
    box-shadow: 0px 0px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="cv"][pos~="l"],
.menu[pos~="cv"][pos~="lr"] {
    box-shadow: -5px 0px 6px 2px var(--menu-box-shadow-color);
}
.menu[pos~="cv"][pos~="r"],
.menu[pos~="cv"][pos~="rl"] {
    box-shadow: 5px 0px 6px 2px var(--menu-box-shadow-color);
}

.popup[hide~="leave"] { pointer-events: none; }
