/* rectangle */
.rec {
    aspect-ratio: 2 / 1;
    fill: var(--primary-color);
}
.rec > svg {
    overflow: visible;
    position: absolute;
}
.rec[up] { transform: rotate(0deg); }
.rec[down] { transform: rotate(180deg); }
.rec[left] { transform: rotate(-90deg); }
.rec[right] { transform: rotate(90deg); }

/* triangle */
.tri {
    aspect-ratio: 1 / 1;
    fill: var(--primary-color);
}
.tri > svg { 
    overflow: visible;
    position: absolute;
}
.tri[up] { transform: rotate(0deg); }
.tri[down] { transform: rotate(180deg); }
.tri[left] { transform: rotate(-90deg); }
.tri[right] { transform: rotate(90deg); }

/* square */
.squ {
    aspect-ratio: 1 / 1;
    fill: var(--primary-color);
}
.squ > svg { 
    overflow: visible;
    position: absolute;
}

/* circle */
.cir {
    aspect-ratio: 1 / 1;
    fill: var(--primary-color);
}
.cir > svg { 
    overflow: visible;
    position: absolute;
}
