/* Small */
@media only screen and (min-width: 480px) {
	.sm-wrapper {
	  width: 100%;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	}
	
	/* container */
	.sm-container {
	  margin: 0px auto;
	  height: 100%;
	}
	@media only screen and (max-width: 700px) {
	  .sm-container { width: 95%; }
	}
	@media only screen and (min-width: 700px) {
	  .sm-container { width: 85%; }
	}
	@media only screen and (min-width: 900px) {
	  .sm-container { width: 75%; }
	}
	@media only screen and (min-width: 1200px) {
	  .sm-container { max-width: 1200px; }
	}
	
	/* popup */
	.sm-popup {
	  width: fit-content;
	  position: absolute;
	  top: 100%;
	  left: 0px;
	  z-index: 1;
	  white-space: nowrap;
	}
	
	/* flex */
	.sm-flex { display: flex; }
	
	.sm-fd-r { flex-direction: row; }
	.sm-fd-c { flex-direction: column; }
	
	.sm-jc-s { justify-content: start; }
	.sm-jc-e { justify-content: flex-end; }
	.sm-jc-c { justify-content: center; }
	
	.sm-jc-sb { justify-content: space-between; }
	.sm-jc-sa { justify-content: space-around; }
	.sm-jc-se { justify-content: space-evenly; }
	
	.sm-ai-fs { align-items: flex-start; }
	.sm-ai-fe { align-items: flex-end; }
	.sm-ai-c { align-items: center; }
	.sm-ai-st { align-items: stretch; }
	
	.sm-as-fs { align-self: flex-start; }
	.sm-as-fe { align-self: flex-end; }
	.sm-as-c { align-self: center; }
	.sm-as-st { align-self: stretch; }
	
	/* box */
	.sm-box { position: relative; }
	.sm-to-tl {
	  position: absolute;
	  top: 0px;
	  left: 0px;
	}
	.sm-to-tr {
	  position: absolute;
	  top: 0px;
	  right: 0px;
	}
	.sm-to-tc {
	  position: absolute;
	  top: 0px;
	  left: 50%;
	  transform: translate(-50%, 0px);
	}
	.sm-to-bl {
	  position: absolute;
	  bottom: 0px;
	  left: 0px;
	}
	.sm-to-br {
	  position: absolute;
	  bottom: 0px;
	  right: 0px;
	}
	.sm-to-bc {
	  position: absolute;
	  bottom: 0px;
	  left: 50%;
	  transform: translate(-50%, 0px);
	}
	.sm-to-lc {
	  position: absolute;
	  top: 50%;
	  left: 0px;
	  transform: translate(0px, -50%);
	}
	.sm-to-rc {
	  position: absolute;
	  top: 50%;
	  right: 0px;
	  transform: translate(0px, -50%);
	}
	.sm-to-c {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
	
	/* grid */
	.sm-grid { display: grid; }
	
	.sm-gtc-1 { grid-template-columns: auto; }
	.sm-gtc-2 { grid-template-columns: auto auto; }
	.sm-gtc-3 { grid-template-columns: auto auto auto; }
	.sm-gtc-4 { grid-template-columns: auto auto auto auto; }
	.sm-gtc-5 { grid-template-columns: auto auto auto auto auto; }
	.sm-gtc-6 { grid-template-columns: auto auto auto auto auto auto; }
	.sm-gtc-7 { grid-template-columns: auto auto auto auto auto auto auto; }
	.sm-gtc-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
	.sm-gtc-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
	.sm-gtc-10 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto; }
	.sm-gtc-11 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto; }
	.sm-gtc-12 { grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; }
	
	.sm-gtr-1 { grid-template-rows: auto; }
	.sm-gtr-2 { grid-template-rows: auto auto; }
	.sm-gtr-3 { grid-template-rows: auto auto auto; }
	.sm-gtr-4 { grid-template-rows: auto auto auto auto; }
	.sm-gtr-5 { grid-template-rows: auto auto auto auto auto; }
	.sm-gtr-6 { grid-template-rows: auto auto auto auto auto auto; }
	.sm-gtr-7 { grid-template-rows: auto auto auto auto auto auto auto; }
	.sm-gtr-8 { grid-template-rows: auto auto auto auto auto auto auto auto; }
	.sm-gtr-9 { grid-template-rows: auto auto auto auto auto auto auto auto auto; }
	.sm-gtr-10 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto; }
	.sm-gtr-11 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto; }
	.sm-gtr-12 { grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto; }
	
	.sm-gcs-a { grid-column-start: auto; }
	.sm-gcs-1 { grid-column-start: 1; }
	.sm-gcs-2 { grid-column-start: 2; }
	.sm-gcs-3 { grid-column-start: 3; }
	.sm-gcs-4 { grid-column-start: 4; }
	.sm-gcs-5 { grid-column-start: 5; }
	.sm-gcs-6 { grid-column-start: 6; }
	.sm-gcs-7 { grid-column-start: 7; }
	.sm-gcs-8 { grid-column-start: 8; }
	.sm-gcs-9 { grid-column-start: 9; }
	.sm-gcs-10 { grid-column-start: 10; }
	.sm-gcs-11 { grid-column-start: 11; }
	.sm-gcs-12 { grid-column-start: 12; }
	
	.sm-gce-a { grid-column-end: auto; }
	.sm-gce-1 { grid-column-end: 1; }
	.sm-gce-2 { grid-column-end: 2; }
	.sm-gce-3 { grid-column-end: 3; }
	.sm-gce-4 { grid-column-end: 4; }
	.sm-gce-5 { grid-column-end: 5; }
	.sm-gce-6 { grid-column-end: 6; }
	.sm-gce-7 { grid-column-end: 7; }
	.sm-gce-8 { grid-column-end: 8; }
	.sm-gce-9 { grid-column-end: 9; }
	.sm-gce-10 { grid-column-end: 10; }
	.sm-gce-11 { grid-column-end: 11; }
	.sm-gce-12 { grid-column-end: 12; }
	
	.sm-gces-a { grid-column-end: span auto; }
	.sm-gces-1 { grid-column-end: span 1; }
	.sm-gces-2 { grid-column-end: span 2; }
	.sm-gces-3 { grid-column-end: span 3; }
	.sm-gces-4 { grid-column-end: span 4; }
	.sm-gces-5 { grid-column-end: span 5; }
	.sm-gces-6 { grid-column-end: span 6; }
	.sm-gces-7 { grid-column-end: span 7; }
	.sm-gces-8 { grid-column-end: span 8; }
	.sm-gces-9 { grid-column-end: span 9; }
	.sm-gces-10 { grid-column-end: span 10; }
	.sm-gces-11 { grid-column-end: span 11; }
	.sm-gces-12 { grid-column-end: span 12; }
	
	.sm-grs-a { grid-row-start: auto; }
	.sm-grs-1 { grid-row-start: 1; }
	.sm-grs-2 { grid-row-start: 2; }
	.sm-grs-3 { grid-row-start: 3; }
	.sm-grs-4 { grid-row-start: 4; }
	.sm-grs-5 { grid-row-start: 5; }
	.sm-grs-6 { grid-row-start: 6; }
	.sm-grs-7 { grid-row-start: 7; }
	.sm-grs-8 { grid-row-start: 8; }
	.sm-grs-9 { grid-row-start: 9; }
	.sm-grs-10 { grid-row-start: 10; }
	.sm-grs-11 { grid-row-start: 11; }
	.sm-grs-12 { grid-row-start: 12; }
	
	.sm-gre-a { grid-row-end: auto; }
	.sm-gre-1 { grid-row-end: 1; }
	.sm-gre-2 { grid-row-end: 2; }
	.sm-gre-3 { grid-row-end: 3; }
	.sm-gre-4 { grid-row-end: 4; }
	.sm-gre-5 { grid-row-end: 5; }
	.sm-gre-6 { grid-row-end: 6; }
	.sm-gre-7 { grid-row-end: 7; }
	.sm-gre-8 { grid-row-end: 8; }
	.sm-gre-9 { grid-row-end: 9; }
	.sm-gre-10 { grid-row-end: 10; }
	.sm-gre-11 { grid-row-end: 11; }
	.sm-gre-12 { grid-row-end: 12; }
	
	.sm-gres-a { grid-row-end: span auto; }
	.sm-gres-1 { grid-row-end: span 1; }
	.sm-gres-2 { grid-row-end: span 2; }
	.sm-gres-3 { grid-row-end: span 3; }
	.sm-gres-4 { grid-row-end: span 4; }
	.sm-gres-5 { grid-row-end: span 5; }
	.sm-gres-6 { grid-row-end: span 6; }
	.sm-gres-7 { grid-row-end: span 7; }
	.sm-gres-8 { grid-row-end: span 8; }
	.sm-gres-9 { grid-row-end: span 9; }
	.sm-gres-10 { grid-row-end: span 10; }
	.sm-gres-11 { grid-row-end: span 11; }
	.sm-gres-12 { grid-row-end: span 12; }
}
