/* Small */
@media only screen and (min-width: 480px) {
	.sm-aspr-1 { aspect-ratio: 1/1; }
	.sm-aspr-1x1 { aspect-ratio: 1/1; }
	
	.sm-bs-n { border-style: none; }
	.sm-bs-g { border-style: groove; }
	.sm-bs-s { border-style: solid; }
	.sm-bs-ds { border-style: dashed; }
	.sm-bs-dt { border-style: dotted; }
	.sm-bs-db { border-style: double; }
	
	.sm-bls-ds { border-left-style: dashed; }
	.sm-bls-dt { border-left-style: dotted; }
	.sm-bls-db { border-left-style: double; }
	.sm-bls-g { border-left-style: groove; }
	.sm-bls-n { border-left-style: none; }
	.sm-bls-s { border-left-style: solid; }
	
	.sm-brs-n { border-right-style: none; }
	.sm-brs-g { border-right-style: groove; }
	.sm-brs-s { border-right-style: solid; }
	.sm-brs-ds { border-right-style: dashed; }
	.sm-brs-dt { border-right-style: dotted; }
	.sm-brs-db { border-right-style: double; }
	
	.sm-bbs-n { border-bottom-style: none; }
	.sm-bbs-g { border-bottom-style: groove; }
	.sm-bbs-s { border-bottom-style: solid; }
	.sm-bbs-ds { border-bottom-style: dashed; }
	.sm-bbs-dt { border-bottom-style: dotted; }
	.sm-bbs-db { border-bottom-style: double; }
	
	.sm-bts-n { border-top-style: none; }
	.sm-bts-g { border-top-style: groove; }
	.sm-bts-s { border-top-style: solid; }
	.sm-bts-ds { border-top-style: dashed; }
	.sm-bts-dt { border-top-style: dotted; }
	.sm-bts-db { border-top-style: double; }
	
	.sm-bsh-n { box-shadow: none; }
	
	.sm-bsz-bb { box-sizing: border-box; }
	.sm-bsz-cb { box-sizing: content-box; }
	
	.sm-cs-n { cursor: none; }
	.sm-cs-d { cursor: default; }
	.sm-cs-p { cursor: pointer; }
	.sm-cs-t { cursor: text; }
	
	.sm-d-f { display: flex; }
	.sm-d-i { display: initial; }
	.sm-d-in { display: inline; }
	.sm-d-b { display: block; }
	.sm-d-n { display: none; }
	.sm-d-us { display: unset; }
	
	.sm-f-1 { flex: 1; }
	
	.sm-fs-16 { font-size: 16px; } .fs-17 { font-size: 17px; } .fs-18 { font-size: 18px; }
	.sm-fs-19 { font-size: 19px; } .fs-20 { font-size: 20px; } .fs-21 { font-size: 21px; }
	.sm-fs-22 { font-size: 22px; } .fs-23 { font-size: 23px; } .fs-24 { font-size: 24px; }
	.sm-fs-25 { font-size: 25px; } .fs-26 { font-size: 26px; } .fs-27 { font-size: 27px; }
	.sm-fs-28 { font-size: 28px; } .fs-29 { font-size: 29px; } .fs-30 { font-size: 30px; }
	
	.sm-ff-en { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
	.sm-ff-kh { font-family: "nokora", "hanuman", content; }
	.sm-ff-fas { font-family: "FontAwesome"; }
	
	.sm-fw-1 { font-weight: 100; }
	.sm-fw-2 { font-weight: 200; }
	.sm-fw-3 { font-weight: 300; }
	.sm-fw-4 { font-weight: 400; }
	.sm-fw-5 { font-weight: 500; }
	.sm-fw-6 { font-weight: 600; }
	.sm-fw-7 { font-weight: 700; }
	.sm-fw-8 { font-weight: 800; }
	.sm-fw-9 { font-weight: 900; }
	.sm-fw-b { font-weight: bold; }
	.sm-fw-bd { font-weight: bolder; }
	.sm-fw-lt { font-weight: lighter; }
	.sm-fw-n { font-weight: normal; }
	
	.sm-h-0 { height: 0px; }
	.sm-h-fc { height: fit-content; }
	.sm-h-100p { height: 100%; }
	
	.sm-ls-n { list-style: none; }
	.sm-ls-d { list-style: disc; }
	.sm-ls-c { list-style: circle; }
	
	.sm-mxh-0 { max-height: 0px; }
	.sm-mxh-100p { max-height: 100%; }
	.sm-mxh-fc { max-height: fit-content; }
	.sm-mxw-0 { max-width:0px; }
	.sm-mxw-100p { max-width: 100%; }
	.sm-mxw-fc { max-width: fit-content; }
	
	.sm-mnh-0 { min-height: 0px; }
	.sm-mnh-100p { min-height: 100%; }
	.sm-mnh-fc { min-height: fit-content; }
	.sm-mnw-0 { min-width:0px; }
	.sm-mnw-100p { min-width: 100%; }
	.sm-mnw-fc { min-width: fit-content; }
	
	.sm-os-n { outline-style: none; }
	.sm-os-g { outline-style: groove; }
	.sm-os-s { outline-style: solid; }
	.sm-os-ds { outline-style: dashed; }
	.sm-os-dt { outline-style: dotted; }
	.sm-os-db { outline-style: double; }
	
	.sm-of-a { overflow: auto; }
	.sm-of-s { overflow: scroll; }
	.sm-of-h { overflow: hidden; }
	.sm-of-v { overflow: visible; }
	
	.sm-ofx-a { overflow-x: auto; }
	.sm-ofx-s { overflow-x: scroll; }
	.sm-ofx-h { overflow-x: hidden; }
	.sm-ofx-v { overflow-x: visible; }
	
	.sm-ofy-a { overflow-y: auto; }
	.sm-ofy-s { overflow-y: scroll; }
	.sm-ofy-h { overflow-y: hidden; }
	.sm-ofy-v { overflow-y: visible; }
	
	.sm-pe-n { pointer-events: none; }
	.sm-pe-u { pointer-events: unset; }
	
	.sm-pos-a { position: absolute; }
	.sm-pos-f { position: fixed; }
	.sm-pos-r { position: relative; }
	.sm-pos-st { position: static; }
	.sm-pos-sk { position: sticky; }
	
	.sm-s-0 {
	  width: 0px;
	  height: 0px;
	}
	.sm-s-100p {
	  width: 100%;
	  height: 100%;
	}
	.sm-s-fc {
	  width: fit-content;
	  height: fit-content;
	}
	
	.sm-t-0 { top: 0px; }
	.sm-l-0 { left: 0px; }
	.sm-b-0 { bottom: 0px; }
	.sm-r-0 { right: 0px; }
	
	.sm-t-100p { top: 100%; }
	.sm-l-100p { left: 100%; }
	.sm-b-100p { bottom: 100%; }
	.sm-r-100p { right: 100%; }
	
	.sm-ta-c { text-align: center; }
	.sm-ta-e { text-align: end; }
	.sm-ta-s { text-align: start; }
	
	.sm-td-n { text-decoration: none; }
	.sm-td-u { text-decoration: underline; }
	
	.sm-tt-c { text-transform: capitalize; }
	.sm-tt-u { text-transform: uppercase; }
	.sm-tt-l { text-transform: lowercase; }
	.sm-tt-n { text-transform: none; }
	
	.sm-tof-e { text-overflow: ellipsis; }
	.sm-tof-c { text-overflow: clip; }
	
	.sm-v-h { visibility: hidden; }
	.sm-v-v { visibility: visible; }
	.sm-v-c { visibility: collapse; }
	
	.sm-w-0 { width: 0px; }
	.sm-w-fc { width: fit-content; }
	.sm-w-100p { width: 100%; }
	
	.sm-ws-n { white-space: normal; }
	.sm-ws-nw { white-space: nowrap; }
	.sm-ws-p { white-space: pre; }
	.sm-ws-pl { white-space: pre-line; }
	.sm-ws-pw { white-space: pre-wrap; }
	
	.sm-z-1 { z-index: 1; }
}
