/* Medium */
@media only screen and (min-width: 768px) {
	/* width */
	.md-wp-0 { width: 0%; }
	.md-wp-1 { width: 8.3333%; }
	.md-wp-2 { width: 16.6666%; }
	.md-wp-3 { width: 25%; }
	.md-wp-4 { width: 33.3333%; }
	.md-wp-5 { width: 41.6666%; }
	.md-wp-6 { width: 50%; }
	.md-wp-7 { width: 58.3333%; }
	.md-wp-8 { width: 66.6666%; }
	.md-wp-9 { width: 75%; }
	.md-wp-10 { width: 83.3333%; }
	.md-wp-11 { width: 91.6666%; }
	.md-wp-12 { width: 100%; }
	
	/* height */
	.md-hp-0 { height: 0%; }
	.md-hp-1 { height: 8.3333%; }
	.md-hp-2 { height: 16.6666%; }
	.md-hp-3 { height: 25%; }
	.md-hp-4 { height: 33.3333%; }
	.md-hp-5 { height: 41.6666%; }
	.md-hp-6 { height: 50%; }
	.md-hp-7 { height: 58.3333%; }
	.md-hp-8 { height: 66.6666%; }
	.md-hp-9 { height: 75%; }
	.md-hp-10 { height: 83.3333%; }
	.md-hp-11 { height: 91.6666%; }
	.md-hp-12 { height: 100%; }
	
	/* size */
	.md-sp-0 { width: 0%; height: 0%; }
	.md-sp-1 { width: 8.3333%; height: 8.3333%; }
	.md-sp-2 { width: 16.6666%; height: 16.6666%; }
	.md-sp-3 { width: 25%; height: 25%; }
	.md-sp-4 { width: 33.3333%; height: 33.3333%; }
	.md-sp-5 { width: 41.6666%; height: 41.6666%; }
	.md-sp-6 { width: 50%; height: 50%; }
	.md-sp-7 { width: 58.3333%; height: 58.3333%; }
	.md-sp-8 { width: 66.6666%; height: 66.6666%; }
	.md-sp-9 { width: 75%; height: 75%; }
	.md-sp-10 { width: 83.3333%; height: 83.3333%; }
	.md-sp-11 { width: 91.6666%; height: 91.6666%; }
	.md-sp-12 { width: 100%; height: 100%; }
}
