/* Small */
@media only screen and (max-width: 480px) {
	.d-sm-aspr-1 { aspect-ratio: 1/1; }
	.d-sm-aspr-1x1 { aspect-ratio: 1/1; }
	
	.d-sm-b-n { border: none; }
	
	.d-sm-bsh-n { box-shadow: none; }
	
	.d-sm-d-f { display: flex; }
	.d-sm-d-i { display: inline; }
	.d-sm-d-b { display: block; }
	.d-sm-d-n { display: none; }
	.d-sm-d-us { display: unset; }
	
	.d-sm-f-1 { flex: 1; }
	
	.d-sm-fs-16 { font-size: 16px; } .fs-17 { font-size: 17px; } .fs-18 { font-size: 18px; }
	.d-sm-fs-19 { font-size: 19px; } .fs-20 { font-size: 20px; } .fs-21 { font-size: 21px; }
	.d-sm-fs-22 { font-size: 22px; } .fs-23 { font-size: 23px; } .fs-24 { font-size: 24px; }
	.d-sm-fs-25 { font-size: 25px; } .fs-26 { font-size: 26px; } .fs-27 { font-size: 27px; }
	.d-sm-fs-28 { font-size: 28px; } .fs-29 { font-size: 29px; } .fs-30 { font-size: 30px; }
	
	.d-sm-fw-1 { font-weight: 100; }
	.d-sm-fw-2 { font-weight: 200; }
	.d-sm-fw-3 { font-weight: 300; }
	.d-sm-fw-4 { font-weight: 400; }
	.d-sm-fw-5 { font-weight: 500; }
	.d-sm-fw-6 { font-weight: 600; }
	.d-sm-fw-7 { font-weight: 700; }
	.d-sm-fw-8 { font-weight: 800; }
	.d-sm-fw-9 { font-weight: 900; }
	.d-sm-fw-b { font-weight: bold; }
	.d-sm-fw-bd { font-weight: bolder; }
	.d-sm-fw-lt { font-weight: lighter; }
	.d-sm-fw-n { font-weight: normal; }
	
	.d-sm-h-0 { height: 0px; }
	.d-sm-h-fc { height: fit-content; }
	.d-sm-h-100p { height: 100%; }
	
	.d-sm-mxh-0 { max-height: 0px; }
	.d-sm-mxh-100p { max-height: 100%; }
	.d-sm-mxh-fc { max-height: fit-content; }
	.d-sm-mxw-0 { max-width:0px; }
	.d-sm-mxw-100p { max-width: 100%; }
	.d-sm-mxw-fc { max-width: fit-content; }
	
	.d-sm-mnh-0 { min-height: 0px; }
	.d-sm-mnh-100p { min-height: 100%; }
	.d-sm-mnh-fc { min-height: fit-content; }
	.d-sm-mnw-0 { min-width:0px; }
	.d-sm-mnw-100p { min-width: 100%; }
	.d-sm-mnw-fc { min-width: fit-content; }
	
	.d-sm-o-n { outline: none; }
	.d-sm-op-0 { opacity: 0; }
	.d-sm-op-1 { opacity: 1; }
	
	.d-sm-s-0 {
	  width: 0px;
	  height: 0px;
	}
	.d-sm-s-100p {
	  width: 100%;
	  height: 100%;
	}
	.d-sm-s-fc {
	  width: fit-content;
	  height: fit-content;
	}
	
	.d-sm-t-0 { top: 0px; }
	.d-sm-l-0 { left: 0px; }
	.d-sm-b-0 { bottom: 0px; }
	.d-sm-r-0 { right: 0px; }
	
	.d-sm-t-100p { top: 100%; }
	.d-sm-l-100p { left: 100%; }
	.d-sm-b-100p { bottom: 100%; }
	.d-sm-r-100p { right: 100%; }
	
	.d-sm-ta-c { text-align: center; }
	.d-sm-ta-e { text-align: end; }
	.d-sm-ta-s { text-align: start; }
	
	.d-sm-v-h { visibility: hidden; }
	.d-sm-v-v { visibility: visible; }
	.d-sm-v-c { visibility: collapse; }
	
	.d-sm-w-0 { width: 0px; }
	.d-sm-w-fc { width: fit-content; }
	.d-sm-w-100p { width: 100%; }
}
